<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Bahler Lab</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/crispr4p.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div id="header">
    <div style="text-align:left; margin-left:70px; margin-bottom:0px; margin-top:0px;"><span style="text-shadow:#FFF; font-family:'Arial Black', Gadget, sans-serif; font-size:32pt; color:#EBF1DE; ">b&auml;hler</span><span style="text-shadow:auto; font-family:'Arial Black', Gadget, sans-serif; font-size:32pt; color:#77933C; ">lab&#13;</span></div>
    <div style="text-align:left; margin-left:30px; margin-top:0px;"><span style="font-family:'Arial Black', Gadget, sans-serif; font-size:20pt; color:#4F6228; ">Genome Regulation</span></div>
    <div class="O">
        <div style="text-align:center; margin-bottom:0; margin-top:-26px; margin-left:120px;margin-right:-20px;"><span style="font-family:Arial, Helvetica, sans-serif; font-size:55pt; color:#D7E4BD; "><strong><em>CRISPR4P</em></strong></span></div>
        <div style="text-align:right; margin-bottom:0px; margin-top:-127px; margin-left:150px;"><span style="font-family:'Arial Black', Helvetica, sans-serif; font-size:36pt; color:white; ">
                <img src="/images/uclogo.gif";/></span></div>
    </div>
</div>

<div id="sidebar">
    <div id="menu">
        <ul>
            <li><a href="http://bahlerlab.info/index.html" title="">Home</a></li>
            <li><a href="http://bahlerlab.info/people" title="">People</a></li>
            <li><a href="http://bahlerlab.info/research.htm" title="">Research</a></li>
            <li><a href="http://bahlerlab.info/publications" title="">Publications</a></li>

            <li class="active first"><a href="http://bahlerlab.info/resources" title="">Resources</a></li>

            <li ><a href="http://bahlerlab.info/contact.html" title="">Contact</a></li>
        </ul>
    </div>
</div>

<script>
function show_loader() {
    document.getElementById("loader").style.display = "block";
    document.getElementById("search_content").style.visibility = "hidden";
};

var toggle_interface=function(id, button){
    var elem=$(id);
    elem.toggle(500);
    if (button) {
        var expanded=button.getAttribute("aria-expanded")==="true";
        button.setAttribute("aria-expanded", expanded ? "false" : "true");
    }
};
</script>

<div id="content">
  <div class="i_form">
      <H3>Enter gene information.</H3>
      <FORM METHOD = post ACTION = "webapp.py" onsubmit="show_loader()">
      You can either specify by gene name<br>
      Gene name/ID: <INPUT type = text name = "name"><br><br>
      or specify the coordinates:<br>
      Chromosome: <input type = "text" name="chromosome" >
      Coordinates: from <INPUT type="number" name="coor_lower" min="0"> to <INPUT type = number name = "coor_upper" min="0"><br>
      e.g. chromosome = I; Coordinates from 112000 to 115000<br><br>
      or specify an oligo sequence to check off-targets:<br>
      Oligo Sequence (20bp/23bp): <input type="text" name="oligo_sequence" placeholder="e.g. CATATACGCCTATGCTGATA"><br>
      Allowed mismatches (0-3): <input type="number" name="oligo_mismatch" min="0" max="3" value="0"><br><br>
      <input type="submit" name="action" value="Submit"><p></p><div id="loader"></div><br>
      </FORM>
  </div>

%s


</div>

</body>
<footer>
  <p><b>   More information about this tool: </b><a href="https://wellcomeopenresearch.org/articles/1-19/v1">https://wellcomeopenresearch.org/articles/1-19/v1</a></p>
  <p><b>   How to cite:</b> Rodríguez-López M, Cotobal C, Fernández-Sánchez O et al. 2016 A CRISPR/Cas9-based method and primer design tool for seamless genome editing in fission yeast. Wellcome Open Res 2016, 1:19 (doi: 10.12688/wellcomeopenres.10038.1)</p>
</footer>
    </html>
